name: CI workflow

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-24.04

    name: "Linting changes with pre-commit"
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - uses: pre-commit/action@v3.0.1

  commitlint:
    runs-on: ubuntu-24.04

    name: "Linting conventional commits with cocogitto"
    steps:
      - uses: actions/checkout@v5
        with:
          # pick the pr HEAD instead of the merge commit
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: cocogitto/cocogitto-action@v4
        with:
          command: check
          args: --from-latest-tag

  test:
    runs-on: ubuntu-24.04

    name: "Testing with … … … (not yet)"
    steps:
      - shell: bash
        run: |
          echo "⚠ ⚠ ⚠ TODO: Not yet implemented! ⚠ ⚠ ⚠"

  release:
    runs-on: ubuntu-24.04
    if: ${{ github.ref == 'refs/heads/main' && !startsWith(github.event.head_commit.message, 'bump:') }}

    environment: release
    needs:
      - test
      - lint
      - commitlint

    # Run semantic release:
    # - Update CHANGELOG.md
    # - Update version in code
    # - Create signed Git commit
    # - Create signed Git tag
    # - Create GitHub release
    name: "Bump version and create changelog with commitizen"
    steps:
      - id: co
        name: "Check out"
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - id: ik
        name: "Import GPG key"
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          trust_level: 5
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_tag_gpgsign: true

      - id: qnd-hack
        name: "Export GPG and Git configuration to Docker container"
        run: |
          # docker run … … … -v "/home/runner/work/_temp/_github_home":"/github/home"
          mkdir -p "${HOME}/work/_temp/_github_home/"

          cp -av "${HOME}/.gnupg/" "${HOME}/work/_temp/_github_home/.gnupg/"
          gpg --homedir "${HOME}/work/_temp/_github_home/.gnupg/" --list-secret-keys
          sudo chown -R root:root "${HOME}/work/_temp/_github_home/.gnupg/"

          cp -av "${HOME}/.gitconfig" "${HOME}/work/_temp/_github_home/.gitconfig"
          git config --file "${HOME}/work/_temp/_github_home/.gitconfig" --list
          sudo chown root:root "${HOME}/work/_temp/_github_home/.gitconfig"
        if: ${{ steps.ik.outcome == 'success' }}

      - id: cz
        name: "Create bump commit and changelog"
        uses: commitizen-tools/commitizen-action@0.26.0
        with:
          gpg_sign: true
          git_name: ${{ steps.ik.outputs.name }}
          git_email: ${{ steps.ik.outputs.email }}
          changelog_increment_filename: body.md
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          # Don't raise on exit codes:
          # 20 - NotAllowed (--incremental cannot be combined with a rev_range)
          # 21 - NoneIncrementExit (The commits found are not eligible to be bumped)
          # See: https://commitizen-tools.github.io/commitizen/exit_codes/
          no_raise: 20,21
        if: ${{ steps.ik.outcome == 'success' && steps.qnd-hack.outcome == 'success' }}

      - id: pv
        name: "Print Version"
        run: echo "Bumped to version ${{ steps.cz.outputs.version }}"
        if: ${{ steps.cz.outcome == 'success' }}

      - id: rel
        name: "GitHub Release"
        uses: softprops/action-gh-release@v2
        with:
          body_path: "body.md"
          tag_name: ${{ env.REVISION }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ steps.cz.outcome == 'success' }}
